spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      format_sql: true
      dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    org.hibernate.SQL: debug
    #org.springframework.core.env: TRACE


jwt:
  secret: "YOUR_JWT_SECRET_KEY_256BIT_MINIMUM"
  access-token-expiration: 3600000     # 1시간 (ms)
  refresh-token-expiration: 1209600000 # 14일 (ms)

