server:
  port: 8080
  address: 0.0.0.0

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      format_sql: true
      dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    root: INFO
#    org.hibernate.SQL: DEBUG
#    org.springframework.web: DEBUG
#    org.springframework.security: DEBUG
#    org.springframework.security.web: DEBUG
#    org.springframework.security.authentication: DEBUG
#    org.springframework.security.authorization: DEBUG
#    org.springframework.web.servlet: DEBUG
#    org.springframework.web.filter: DEBUG
#    org.springframework.core.env: TRACE

jwt:
  secret: "ABCDEF1234567890ABCDEF1234567890"
#  access-token-expiration: 1800000     # 30분 (ms)
  access-token-expiration: 20000     # 20초 (ms)
  refresh-token-expiration: 1209600000 # 14일 (ms)

