name: backend-cd

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Gradle
        run: ./gradlew clean build -x test

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      - name: Login to ECR
        run: |
          aws ecr get-login-password --region ap-northeast-2 \
          | docker login --username AWS --password-stdin 277905774993.dkr.ecr.ap-northeast-2.amazonaws.com

      - name: Build & Push Docker image
        run: |
          docker build -t newfeed-backend .
          docker tag newfeed-backend:latest 277905774993.dkr.ecr.ap-northeast-2.amazonaws.com/newfeed-backend:latest
          docker push 277905774993.dkr.ecr.ap-northeast-2.amazonaws.com/newfeed-backend:latest
